h1 {
  font: black;
  ]
div {
  height: ;
  width:;
  padding:;
  margin:;
}

body {
  height:;
  background-color::
  border:
  width
}

footer {
  height:;
  width:;

.tiptop {
  height: ;
  width;

}
}
