body{
  text-align: center;
  font-family: helvetica;
  font-size: 25px;
}
#rlx{
  text-align: left;
  margin: 20px 20px 20px 120px;
  padding: 20px;
}
#pomind{
  font-weight: 400;
  margin: 80px auto;
}
header{
  background: url("images/header_bg.jpg");
  background-size: cover;
  width: auto;
  height: 500px;
  color: white;
}
#get{
  background-color: yellow;
  color: black;
  width: 140px;
  height: 40px;
  border: 1px black solid;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.benefits{
  width: 50%;
  margin: 0 auto;
}
.benefits h3, p, li{
  text-align: left;
}
p, li{
  font-weight: lighter;
}
.testimonial{
  background: url("images/testimonial_bg.jpg");
  height: 300px;
  color: white;
}
.signup{
  background-color: yellow;
  height: 75px;
}
em{
  font-weight: lighter;
}
div button{
  background-color: navy;
  color: white;
  border: 1px black solid;
  height: 30px;
  width: 150px;
  border-radius: 3px;
}
footer{
  background: black;
  color: white;
  font-size: 15px;
  height: 250px;
}
footer h3{
  color: yellow;
  font-size: 40px;
}
