body {
  margin: 0 auto;
  font-family: helvetica;
}

header{
  background-image: url("../images/header_bg.jpg");
  height: 900px;
  background-size: cover;
  overflow: auto;
}
h1 {
  color: white;
  margin: 50px 0 0 90px;
  font-weight: bold;
  font-size: 50px;
}
h2 {
  color: white;
  text-align:center;
  font-family:arial;
  margin-top: 170px;
  font-size: 48px;
}
#button1 {
  background-color: yellow;
  position: relative;
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  height: 50px;
  width: 200px;
  border-radius: 7px;
  color: #100591;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  display: block;
  color: #100591;
  font-size: 45px;
  margin: 60px 0 0 100px;
}
p {
  justify-content: left;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 100;
}
main {
  background-color: rgba(232,232,238,.8);
  overflow: auto;
  color: grey;
}
ul {
  margin-left: 130px;
  color:grey;
  list-style: none;
  font-size: 20px;
  margin-bottom: 50px;
}
li:before {
    content: "• ";
    color: #100591;

}
ul li {
  padding: 5px;
}
.quote {
  background-image: url("../images/testimonial_bg.jpg");
  background-size:cover;
  display: block;
  overflow: auto;
}
blockquote {
  color: white;
  font-style: italic;
  text-align: center;
  margin: 100px 0 100px 0;
  font-size: 25px;
}
.signup {
  background color:rgba(232,232,238,.8);
  background-size: cover;
  overflow: auto;
}
#button2 {
  background-color: #100591;
  color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto 15px auto;
}
.bottom {
  background-color: #100591;
  background-size:cover;
  display: block;
  overflow: auto;
  color: white;
}
h4, h6 {
  display: block;
  text-align: center;
  font-size: 38px;
}
h6 {
  font-size: 11px;
}
#facebook, #twitter {
  display: inline-block;
}
#facebook {
  background-image: url("../images/facebook.png");
}


}
}
