header {
  min-height: 100%;
  min-width: 100%;
  background-image:("images/header_bg.jpg");
  padding-bottom: 300px;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.logo {
  font-family: open sans, arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

h2 {
  font-family: open sans, arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 70px;
}

h3 {
  font-family: open sans, arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 50px;

}

main {
  background-color: #f0efef;
  padding-right: 320px;
}

main p {
  font-family: open sans, arial, sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

main p ul {
    padding-top: 10px;
}

.button {
    background-color: #f9e42e;
    border-radius: 3px;
    color: 033048;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: open sans, arial, sans-serif;
    font-weight: bold;
  }

  .yellow {
    width: 150px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    right: 0;
  }

aside {
  position: relative;
  background-color: yellow;
}

.blue {
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #033048;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

main ul {
  font-family: open sans, arial, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  line-height: 15px;
  padding-top: 10px;
}

section {
  height: 170px;
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
}

blockquote {
  font-family: open sans, arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  color: white;
  text-align: center;
  line-height: 22px;
}

.author {
  font-family: open sans, arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: white;
  text-align: center;
}

.copyright {
  font-family: open sans, arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  text-align: center;
}
